{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_link %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />

    <script>
        $(document).ready(function (){
            $('#id_category').select2({
                minimumInputLength:3,
                allowClear: true,
                placeholder: '--Select--',
            });
        });

        $(document).ready(function (){
            $('#id_company').select2({
                minimumInputLength:3,
                allowClear: true,
                placeholder: '--Select--'
            });
        });
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h3>Create product</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>{{form.name|as_crispy_field}}</h5>
                    <h5>{{form.price|as_crispy_field}}</h5>
                    <h5>{{form.description|as_crispy_field}}</h5>
                    <h5>{{form.shortSpecifications|as_crispy_field}}</h5>
                    <h5>{{form.specifications|as_crispy_field}}</h5>
                    <h5>{{form.discount|as_crispy_field}}</h5>
                    <h5>{{form.year|as_crispy_field}}</h5>
                    <h5>{{form.isActive|as_crispy_field}}</h5>
                    <h5>{{form.category|as_crispy_field}}</h5>
                    <h5>{{form.company|as_crispy_field}}</h5>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>{{form.digital|as_crispy_field}}</h5>
                        </div>
                        <div class="col-md-8">
                            <h5>{{form.image|as_crispy_field}}</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>Submit</button>
                        </div>

                        <div class="col-md-2">
                            <a href="{% url 'products_table' %}" class="btn btn-secondary btn-block btn-lg">
                                <i class="fas fa-stream"></i> Back to list
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock%}