{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block css_link %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>


    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout_validation.css' %}">

{% endblock%}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">

                    <div id="user-info">
                        <div class="form-group">
                            <label for="userName">
                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Name</span>
                                         </div>
                                    <input id="userName" required class="form-control" type="text" name="userName" placeholder="Name.." maxlength="20" minlength="5">
                                     </div>
                                </div>

                               <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>At least 5 characters long, at maximum 20</li>
                                    <li>Must only contain letters and digits</li>
                               </ul>
                            </label>
                        </div>

                        <div class="form-group email">
                            <label for="email">
                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Email</span>
                                         </div>
                                        <input id="email" required class="form-control" type="email" name="email" placeholder="Email..">
                                     </div>
                                </div>
                            </label>
                        </div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>


                        <div class="form-group">

                            <label for="country">

                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Country</span>
                                         </div>
                                    <input id="country" class="form-control" type="text" name="country" placeholder="Country.." maxlength="30" minlength="3" required>
                                     </div>
                                </div>

                                <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>At least 3 characters long, at maximum 30</li>
                                    <li>Must only contain letters(no special characters)</li>
                               </ul>

                            </label>
                        </div>


                        <div class="form-group">
                            <label for="state">
                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">State</span>
                                         </div>
                                        <input id="state" class="form-control" type="text" name="state" placeholder="State.." maxlength="30" minlength="3" required>
                                     </div>
                                </div>

                                <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>At least 3 characters long, at maximum 30</li>
                                    <li>Must only contain letters(no special characters)</li>
                               </ul>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="city">

                                <div class="form-field">
                                     <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">City</span>
                                         </div>
                                         <input id="city" class="form-control" type="text" name="city" placeholder="City.." maxlength="30" minlength="3" required>
                                     </div>
                                </div>

                                <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>At least 3 characters long, at maximum 30</li>
                                    <li>Must only contain letters(no special characters)</li>
                               </ul>
                            </label>
                        </div>


                        <div class="form-group">
                            <label for="address">
                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Address</span>
                                         </div>
                                        <input id="address" class="form-control" type="text" name="address" placeholder="Address.." maxlength="50" minlength="3" required>
                                     </div>
                                </div>

                                <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>At least 3 characters long, at maximum 50</li>
                                    <li>Must only contain letters and digits</li>
                               </ul>
                            </label>
                        </div>


                        <div class="form-group">
                            <label for="zipcode">
                                <div class="form-field">
                                    <div class="input-group mb-3">
                                         <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Zipcode</span>
                                         </div>
                                        <input id="zipcode" class="form-control" type="text" name="zipcode" placeholder="Zip code.." required>
                                     </div>
                                </div>

                                <ul class="input-requirements">
                                    <li>Required</li>
                                    <li>Must contain 5 digits</li>
                               </ul>
                            </label>
                        </div>

					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<button id="make-payment" class="btn btn-success">Make payment</button>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row">
							<div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
							<div style="flex:2"><p>{{ item.product.name }}</p></div>
							<div style="flex:1"><p>${{ item.product.discount_price|floatformat:2 }}</p></div>
							<div style="flex:1"><p>x{{item.quantity}}</p></div>
					</div>
				{% endfor %}

				<h5>Items:	{{ order.get_cart_items }}</h5>
				<h5>Total:   ${{ order.get_cart_total|floatformat:2 }}</h5>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">
	var shipping = '{{order.shipping}}'
	var total = '{{order.get_cart_total}}'

	if(shipping == 'False')
		document.getElementById('shipping-info').innerHTML = ''

	if (user != 'AnonymousUser'){
		document.getElementById('user-info').innerHTML = ''
	 }

	if (shipping == 'False' && user != 'AnonymousUser'){
			document.getElementById('form-wrapper').classList.add("hidden");
			document.getElementById('form-button').classList.add('hidden')
			document.getElementById('payment-info').classList.remove("hidden");
	}

	var form = document.getElementById('form')
	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form Submitted...')
		document.getElementById('form-button').classList.add('hidden')
        document.querySelectorAll('form input')
            .forEach(elem => elem.setAttribute("disabled", "disabled"));
		document.querySelectorAll('form ul').forEach(elem => elem.setAttribute('hidden', 'hidden'))
		document.getElementById('payment-info').classList.remove('hidden')
	})

	document.getElementById('make-payment').addEventListener('click', function(e){
		submitFormData()
	})

	
	function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'country':null,
				'state':null,
				'city':null,
				'address':null,
				'zipcode':null,
			}

			console.log('Shipping:', shipping)

			if (shipping != 'False'){
				shippingInfo.country = form.country.value
		    	shippingInfo.state = form.state.value
				shippingInfo.city = form.city.value
	    		shippingInfo.address = form.address.value
		    	shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.userName.value
	    		userFormData.email = form.email.value
	    	}


	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'store' %}"

				})
	    }

</script>

<script>

     $(".form-field input").focusin(function() {
        $(this).parent().parent().next(".input-requirements").css( "display", "block" );
        $(this).focused = true;
    });


    $( ".form-field input").focusout(function() {
        $(this).parent().parent().next(".input-requirements").css( "display", "none" );
        $(this).focused = false;
    });
</script>


<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>

{% endblock content %}