{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock%}


{% block content %}
    <div class="back-store"><a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to Store</a></div>

    <div id="content-wrapper">
        <div class="column item">
            <div class="product-image-item">
                <img id="featured" class="img-responsive" src="{{ product.imageURL }}">
            </div>

            {% if product.discount %}
                <span class="discount">-{{ product.discount }}%</span>
            {% endif %}

            {% if productImages %}
                <div id="slide-wrapper">
                    <img id="slideLeft" class="arrow" src="{% static 'media/icons/arrow-left.png' %}">
                    <div id="slider">
                        <img class="thumbnail" src="{{ product.imageURL }}">
                        {% for image in productImages%}
                            <img class="thumbnail" src="{{image.imageURL}}">
                        {% endfor %}
                    </div>
                    <img id="slideRight" class="arrow" src="{% static 'media/icons//arrow-right.png' %}">
                </div>
            {% else %}
            {% endif %}
        </div>
        <div class="column info">
            <h1 class="text-center">
                {{ product.name }}
            </h1>
            <div class="price">
                <p style="font-weight: bold; font-size: 1.5em;">Price:</p>
                {% if product.discount %}
                    <p class="product-price" style="text-decoration: line-through; opacity: .7;">${{ product.price|floatformat:2}}</p>
                    <p class="product-discount-price">${{ product.discount_price|floatformat:2 }}</p>
                {% else %}
                    <p class="product-price" style="font-weight: 500;">${{ product.price|floatformat:2}}</p>
                {% endif %}
                <button data-product="{{product.id}}" data-action="add" class="button update-cart">Buy</button>
            </div>
            <div>
                <div style="color: orange; font-size: 2em" class="product-rating">
                    <i class="{% if product.averegereview < 1 %}far{% else %}fa{% endif %} fa-star"></i>
                    <i class="{% if product.averegereview < 2 %}far{% else %}fa{% endif %} fa-star"></i>
                    <i class="{% if product.averegereview < 3 %}far{% else %}fa{% endif %} fa-star"></i>
                    <i class="{% if product.averegereview < 4 %}far{% else %}fa{% endif %} fa-star"></i>
                    <i class="{% if product.averegereview < 5 %}far{% else %}fa{% endif %} fa-star"></i>
                    {{ product.averegereview |stringformat:".2f"}}
                </div>
            </div>
            <div class="product-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#description">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#specifications">Specifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#reviews">Reviews ({{ product.countreview }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#comments">Comments ({{ product.countcomment }})</a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="description">
                        <h3 class="editContent">
                            {% trans 'Product description' %}
                        </h3>
                        <p>{{ product.description|safe }}</p>
                    </div>
                    <div class="tab-pane fade in" id="specifications">
                        <h3 class="editContent">
                            {% trans 'Product specifications' %}
                        </h3>
                        <p>{{ product.specifications|safe }}</p>
                    </div>
                    <div class="tab-pane fade in" id="reviews">
                        {% include "main/review.html" %}
                    </div>
                    <div class="tab-pane fade in" id="comments">
                        {% include "main/comment.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail')
    let activeImages = document.getElementsByClassName('active')
    for (var i=0; i < thumbnails.length; i++){
        thumbnails[i].addEventListener('mouseover', function(){

            if (activeImages.length > 0){
                activeImages[0].classList.remove('active')
            }

            this.classList.add('active')
            document.getElementById('featured').src = this.src
        })

    }

    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');


    buttonRight.addEventListener('click', function(){
        document.getElementById('slider').scrollLeft += 180;
    })

    buttonLeft.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft -= 180;
    })

</script>
{% endblock %}


