{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock%}

{% block content %}
    <script>
        var data = "{{ products }}"
    </script>

    <div class="filter">
        {% include 'main/filter.html' %}
    </div>
    <div class="container products-list" style="margin-left: 350px">
    {% with productss=data %}
        {% if products %}
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-4 product-item">
                          <div class="card mb-4 shadow-sm">
                              <div class="image">
                                  <a href="{% url 'product' product.id %}">
                                      <img class="thumbnail" alt="{{product.name}}" title="{{product.name}}" src="{{product.imageURL}}">
                                  </a>
                              </div>
                              <div class="card-body">
                                  <a href="{% url 'product' product.id %}" style="text-decoration: none; color: black">
                                      <p class="card-text"><strong>{{product.name}}</strong></p>
                                  </a>
                                  <hr>
                                  <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                                  <a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
                                  {% if product.discount %}
                                      <span class="discount">-{{ product.discount }}%</span>
                                      <div class="price">
                                          <p class="product-price" style="text-decoration: line-through; opacity: .7;">${{ product.price}}</p>
                                          <p class="product-discount-price">${{ product.discount_price|floatformat:2 }}</p>
                                      </div>
                                  {% else %}
                                     <div class="price">
                                         <p class="product-price" style="font-weight: 700;">${{ product.price|floatformat:2}}</p>
                                      </div>
                                  {% endif %}
                                    <div style="display: flex">
                                        <div style="color: orange;" class="product-rating">
                                            <i class="{% if product.averegereview < 1 %}far{% else %}fa{% endif %} fa-star"></i>
                                            <i class="{% if product.averegereview < 2 %}far{% else %}fa{% endif %} fa-star"></i>
                                            <i class="{% if product.averegereview < 3 %}far{% else %}fa{% endif %} fa-star"></i>
                                            <i class="{% if product.averegereview < 4 %}far{% else %}fa{% endif %} fa-star"></i>
                                            <i class="{% if product.averegereview < 5 %}far{% else %}fa{% endif %} fa-star"></i>
                                            {{ product.averegereview |stringformat:".2f"}}
                                        </div>
                                        <div style="margin-left: 10px"> {{ product.countreview}} Review(s)</div>
                                    </div>
                              </div>

                              <div class="info">
                                  <div class="info_text">
                                      <p>
                                          <strong>Specifications:</strong><br>
                                            {{product.shortSpecifications|safe}}
                                      </p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  {% endfor %}
                </div>
        {% else %}
            <h1 class="no-products">No products</h1>
        {% endif %}
    {% endwith %}
    </div>
    <div class="class1"></div>
<script src="{% static 'js/filter.js' %}"></script>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
<script type="text/javascript" src="../main/node_modules/swig/lib/swig.js"></script>
{% endblock %}
